
#wrapper{
    max-width: 940px;
    margin:0 auto;
    padding: 0 5%;
    background: #D4666C;
}
img{
    max-width:100%; 
}
h2{
	margin: 0 0 30px 0;
}

.profile photo{
	float: left ;
	margin: 0 5% 120px 0;
}

#logo {
	font: left;
	margin-left: 5%
	text-align left;
	width: 45%; }
	h1 {font-size: 1,5em; }
	h2 {font-size: 0,825em; }
	margin-bottom:20px;
}



